.MainBanner
{
background-color: #726334;
margin-left: 200px;
margin-top: -50px;
margin-right: -2%;
height: 150px;

}
#PageTitle {
color: white ;
text-align: center;
margin-top: 50px;
position:absolute 50%;
line-height: 100%;
font-size: 48px;
}

#logo{
  width: 125px;
  height: 125px;
  padding: 80px 0px 0px 40px;
}


header .SideBar
{
background: #292826;
margin-top: -200px;
padding: 0;
width: 210px;
height: 110%;
margin-bottom: -10x;
margin-left: -10px;
position: fixed;
}

body {
background-color: #AEAA6B;

}


#Content {
margin-right: -2%;
margin-top: -30px;
margin-left: 200px;
margin-bottom: -20px;
background-color: #AEAA6B;
}

#Content h2{
text-align: center;  
padding-top: 25px;
font-size: 32px;
}

#Content #visitor{
text-align: center;  
margin-top:-15px;
color:white;
font-size:18px;
}

.imgcontainer{
   display: inline-block;
   margin-top: 50px;
   text-align: center;
   margin-left: 5%;
   margin-right: 5%;

}
#uppersection {
  padding-top: 50px;
  text-align: center;

}

#lowersection {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

#uppersection p{
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
}

#lowersection p{
  text-align: center;
  font-size: 18px;

}
header nav {
margin-top: 50px;
}

header nav ul a {
text-decoration: none;
color: white;
}

header nav ul {
list-style-type: none;
line-height:300%;
text-align: center;
margin-left: -50px;
font-size: 24px;

}

footer{
height: 50px;
background-color: #726334;
margin-bottom: -50px;
margin-right: -2%;
}

footer p{
display: inline;
margin-left: 250px;
padding-top: 15px;
color: white;
}

footer h6{
  color: white
}